html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

/*navbar styling start*/
.navbar .navbar-nav {
  margin-left: 40px; }

.navbar .nav-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #075d74;
  margin-right: 52px;
  padding-top: 18px;
  font-size: 21px; }

.navbar .nav-link:hover {
  border-bottom: 1px solid #d5de2b; }

.navbar .fa {
  margin-right: 20px;
  font-size: 35px;
  padding: 0 15px 0 15px; }

.navbar .badge {
  border-radius: 50%;
  font-size: 23px; }

/*navbar styling start*/
/*background header styling start*/
#header {
  background: url("../img/Elyon Water Label - Header-03.png");
  height: 95vh;
  background-position: center;
  background-size: cover; }

.header-content {
  position: absolute;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  left: 40px;
  top: 180px; }

.header-main-content {
  text-align: center;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 64px;
  color: #1b75ba;
  font-weight: 600; }

.header-sub-content {
  text-align: center;
  display: block;
  font-size: 22px;
  font-weight: 400;
  color: #075d74; }

.header-sub-content2 {
  text-align: center; }

.header-content-btn {
  color: #d5de2b;
  width: 280px;
  padding: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-left: 280px;
  font-weight: 700; }

/*background header styling end*/
/*Services start*/
.services {
  text-transform: uppercase;
  color: #1b75ba;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  position: relative; }

.services::after {
  content: '';
  position: absolute;
  width: 8%;
  left: 45%;
  top: 95%;
  border: 1px solid #1b75ba;
  z-index: 1; }

#services .header1 {
  color: #1b75ba;
  text-align: center;
  font-size: 40px;
  margin-top: 80px; }

#services .card-title {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 36px; }

#services .card-text {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; }

#services hr {
  width: 10%;
  height: 1px;
  display: block;
  background: #1b75ba;
  border-bottom: 80px; }

#services .service-item2 {
  background: #1b75ba; }

#services .service-item1 {
  background: #075d74; }

#services .card-body {
  margin-left: 51px;
  padding: 71px;
  color: #fff; }

#services .card-body img {
  height: 100px; }

#services .card-body h4 {
  font-weight: 650; }

#services .card {
  margin-right: -7px; }

/*services end*/
/*Product-section styling*/
#featured-products {
  background-color: #e6e6e6; }

.featured-products {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #1b75ba;
  font-size: 36px;
  position: relative; }

.featured-products::after {
  content: '';
  position: absolute;
  width: 35%;
  border: 1px solid #1b75ba;
  top: 95%;
  left: 40%;
  z-index: 1; }

.featured-products-subheading {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px; }

.add-to-cart:hover {
  background-color: #1b75ba; }
  .add-to-cart:hover .card-body {
    border: 4px solid #1b75ba; }

.product-id {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 19px; }

.product-price {
  text-transform: capitalize;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: 0 auto; }

.card-body {
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0; }

/*cards styling*/
.how-we-work {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #1b75ba;
  font-size: 36px;
  position: relative; }

.how-we-work::after {
  content: '';
  position: absolute;
  width: 15%;
  border: 1px solid #1b75ba;
  top: 95%;
  left: 40%;
  z-index: 1; }

.how-we-work-content {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px; }

.card-content-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #1b75ba;
  font-size: 26px; }

.card-content-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px; }

.card {
  border: 0; }

.img-text {
  display: block;
  margin: 0 auto; }

.find-out-more-btn {
  display: block;
  color: #d5de2b;
  width: 250px;
  padding: 18px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  margin: 0 auto;
  font-size: 20px; }

#subscribe .sign-up-text {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #d5de2b; }

#subscribe .search_wrapper {
  position: relative;
  width: 400px;
  height: 40px; }

#subscribe .subscribe-input {
  height: 40px;
  width: 350px;
  padding: 30px;
  top: inherit;
  right: inherit; }

#subscribe .subscribe-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 40px;
  padding: 30px;
  background-color: #d5de2b;
  text-transform: uppercase; }

#subscribe .subscribe-btn span {
  text-align: center; }

.read-more-btn {
  color: #d5de2b;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px; }

.read-more-btn:hover {
  color: #fff;
  text-decoration: none;
  font-size: 12px; }

.footer-text-logo {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin-top: 17px; }

.quick-links {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #fff; }

.quick-links2 {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #d5de2b; }

.quick-links:hover {
  text-decoration: none;
  color: #d5de2b; }

.quick-links2:hover {
  text-decoration: none;
  color: #fff; }

.quick-links-div {
  margin-top: 48px; }

.contact-info {
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px; }

.social-media-icons .fa {
  float: right;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 60px;
  margin-left: 17px;
  background-c